@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Manage Deliveries</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNavDelivery" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@await RenderSectionAsync("Scripts", false)