@model HelmoBilite.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<partial name="_ClientDisplayData" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Clients" asp-action="Edit">
            <select asp-for="Tag" class="form-control">
            <option value="">No tag</option>
                @foreach (var tag in Enum.GetValues(typeof(Tag)))
                {
                    <option value="@tag">@tag</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
