@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container-fluid ">
    <!-- our History -->
    <h3 class="text-center">Our History</h3>
    <div class="row">
        <div class="col-md-4 ">
            <img src="~/images/logo.png" class="img-fluid" alt="helmo-bilite logo">
        </div>
        <div class="col-md-8 d-flex align-items-center ">
            <p class="fw-bold">
                HELMo-Bilite is a 103 year old transport and delivery company. <br/>
                Founded in 1920, it quickly became the leader in the Belgian delivery market before quickly establishing itself on a European level.<br/>
                It was not until 1967, when HELMo-Bilite moved to the United States, that it became one of the leading companies in the transport and delivery business worldwide.
            </p>
        </div>
    </div>
</section>
<hr/>
<section class="container-fluid align-items-center justify-content-center">
    <!--our team -->
    <h3 class="text-center">Our Team</h3>
    <div class="row ">
        <div class="col-md-7 d-flex align-items-center ">
            <p class="fw-bold">
                Our team is made up of many employees from all over the world. They all have incredible skills that make our company the best in the world. <br/>
                From the deliveryman/driver to the larger office positions, they are all pillars of HELMo-Bilite
            </p>
        </div>
        <div class="col-md-4 text-end">
            <img src="~/images/trucks/ca_rounded.jpg" class="img-fluid" alt="fleet">
        </div>
    </div>
</section>
<hr/>
<section class="container-fluid align-items-center justify-content-center">
    <!-- our fleet -->
    <h3 class="text-center">Our Fleet</h3>
    <div class="row">
        <div class="col-md-4 ">
            <img src="~/images/trucks/fleet_truck_rounded.jpg" class="img-fluid" alt="fleet">
        </div>
        <div class="col-md-8 d-flex align-items-center ">
            <p class="fw-bold">
                Our fleet consists of more than ten trucks. From the urban service van to the exceptional convoy type truck, we have what it takes to satisfy your greatest needs.<br/>
                It has the best European and international certifications!
            </p>
        </div>
    </div>
</section>
<hr/>
<section class="container-fluid ">
    <!-- they trust us -->
    <h3 class="text-center">They trust us</h3>
    <div class="row justify-content-center">
        <div class="col-6 col-md-4 col-lg-2 mb-4 ">
            <img src="~/images/collaborator/abbott.png" class="img-fluid " alt="abbott">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="~/images/collaborator/chu.png" class="img-fluid " alt="chu">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="~/images/collaborator/image-removebg-preview(1).png" class="img-fluid " alt="Huawei">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="~/images/collaborator/astonmartin.png" class="img-fluid " alt="astonMartin">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="~/images/collaborator/garudalinux.png" class="img-fluid " alt="garuda">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-4">
            <img src="~/images/collaborator/uliege.png" class="img-fluid " alt="uliege">
        </div>
    </div>
</section>
<hr/>
