
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @HelmoBilite.Views.DeliveryNavManager.PageNavClass(ViewContext,"Index")" asp-area="" asp-controller="Delivery" asp-action="Index">All</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @HelmoBilite.Views.DeliveryNavManager.PageNavClass(ViewContext,"Waiting Assignation")" asp-area="" asp-controller="Delivery" asp-action="AllWaitingAssignation">Waiting Assignation</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @HelmoBilite.Views.DeliveryNavManager.PageNavClass(ViewContext,"Waiting")" asp-area="" asp-controller="Delivery" asp-action="AllWaitingToBeDone">Waiting Delivery</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @HelmoBilite.Views.DeliveryNavManager.PageNavClass(ViewContext,"Done")" asp-area="" asp-controller="Delivery" asp-action="AllDone">Done Delivery</a>
    </li>


</ul>